@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* icons */
@font-face {
    font-family: "icons";
    font-weight: 400;

    src:
        url("/fonts/icons/icons.woff2") format("woff2"),
        url("/fonts/icons/icons.woff") format("woff"),
        url("/fonts/icons/icons.ttf") format("truetype");
}

@font-face {
    font-family: "brands";
    font-weight: 400;

    src: url("/fonts/fab.otf");
}

:root {
    font-size: max(14px, calc(100vmin * 0.0148));
}

* {
    font-family: "DM Sans", sans-serif;
}

html {
    display: flex;
    min-height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 100%;
    font-weight: 500;
    background: var(--color-zinc-950);
    color: var(--color-zinc-200);
}

::selection {
    background-color: var(--color-sky-400);
    color: var(--color-black);
}

@utility prose-color {
    --tw-prose-body: var(--color-zinc-200);
    --tw-prose-headings: var(--color-zinc-200);
    --tw-prose-lead: var(--color-zinc-200);
    --tw-prose-links: var(--color-zinc-200);
    --tw-prose-bold: var(--color-zinc-200);
    --tw-prose-counters: var(--color-zinc-200);
    --tw-prose-bullets: var(--color-zinc-200);
    --tw-prose-hr: var(--color-zinc-200);
    --tw-prose-quotes: var(--color-zinc-200);
    --tw-prose-quote-borders: var(--color-zinc-200);
    --tw-prose-captions: var(--color-zinc-200);
    --tw-prose-code: var(--color-zinc-200);
    --tw-prose-pre-code: var(--color-zinc-200);
    --tw-prose-pre-bg: var(--color-zinc-200);
    --tw-prose-th-borders: var(--color-zinc-200);
    --tw-prose-td-borders: var(--color-zinc-200);
    --tw-prose-invert-body: var(--color-zinc-200);
    --tw-prose-invert-headings: var(--color-zinc-200);
    --tw-prose-invert-lead: var(--color-zinc-200);
    --tw-prose-invert-links: var(--color-zinc-200);
    --tw-prose-invert-bold: var(--color-zinc-200);
    --tw-prose-invert-counters: var(--color-zinc-200);
    --tw-prose-invert-bullets: var(--color-zinc-200);
    --tw-prose-invert-hr: var(--color-zinc-200);
    --tw-prose-invert-quotes: var(--color-zinc-200);
    --tw-prose-invert-quote-borders: var(--color-zinc-200);
    --tw-prose-invert-captions: var(--color-zinc-200);
    --tw-prose-invert-code: var(--color-zinc-200);
    --tw-prose-invert-pre-code: var(--color-zinc-200);
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: var(--color-zinc-200);
    --tw-prose-invert-td-borders: var(--color-zinc-200);
}
